@import 'element-ui/lib/theme-chalk/index.css';

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption, form {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    border: none;
    font-family: 'Arial','PingFang SC','Microsoft Yahei','sans-serif';
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}
a {
    color: #17A7FB;
    cursor: pointer;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: $color-black;
}
