
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin lines-ellipsis($lines) {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
  -webkit-box-orient: vertical;
  word-break: break-all;
}


@mixin mask {
  width: 100%;
  height: 100%;
  background: rgba($color: #010017, $alpha: .3);
  position: fixed;
  top: 0;
  left: 0;
}
