/* 基本颜色 */
$color-white: #fff;
$color-black: #455A74;
$color-blue: #169BFA;
$color-green: #31CF9A;
$color-light-green: #96E036;
$color-red: #FF5F5F;
$color-light-red: #FF956F;
$color-orange: #FFBC33;

/* 灰色 */
$color-grey: #7B93A7;
$color-light-grey: #909399;
$color-lighter-grey: #C0C4CC;
$border-color: #e6e6e6;

/* 文字 */
$color-content: #f5f8fa;
$color-lighter-blue: #f6f9fb;


/* 渐变 */
$gradient-blue: linear-gradient(-45deg, #47B2FB 0%, #2F95FA 100%);
$gradient-light-blue: linear-gradient(-47deg, #81C2FF 0%, #47B2FB 100%);
$gradient-green: linear-gradient(-45deg, #1DCFAB 0%, #46CF8F 100%);
$gradient-light-green: linear-gradient(-224deg, #73E03D 0%, #ADE01F 100%);
$gradient-orange: linear-gradient(-45deg, #FFD119 0%, #FFAC4C 100%);
$gradient-light-red:  linear-gradient(-224deg, #FF9054 0%, #FF9787 100%);
$gradient-red: linear-gradient(-45deg, #FF788A 0%, #FF4545 100%);
$gradient-grey: linear-gradient(-45deg, #A2B3C1 0%, #7B93A7 100%);